@import '../../Global/Global.module.scss';
@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    @include display;
    height: 100vh;
    background-color: $primary;
}